# Gradle
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Android Studio
.idea/
*.iml
local.properties
captures/
.externalNativeBuild/
.cxx/

# APKs and bundles
*.apk
*.aab
*.ap_

# Keystore
*.jks
*.keystore
keystore.properties
keytool.sh

# OS
.DS_Store
Thumbs.db
